
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* import layout appearance */
@import url('../css/appearance.css');
@import url('../css/media.css');


body,html {
	
	padding: 0px;
    margin: 0px;
	
    line-height: 1.4;
    font-size: 12px;
    font-weight: 300;
	
	background: transparent;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	padding:0;
	font-weight:300;
}

h1 { font-size:2.5em; }
h2 { font-size:2.25em; }
h3 { font-size:2em; }
h4 { font-size:1.75em; }
h5 { font-size:1.35em; }
h6 { font-size:1em; }

ul { margin:0;padding:0; }
ul li { list-style:none; }

a { text-decoration:none; }
a:hover { text-decoration:underline; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar {
	position:fixed;
	top:0;left:0;
	width:100%;height:50px;
	min-width:560px;
	padding:0;margin:0;
	background: #343434;
	font-size:0;
	z-index:9;
}
.navbar .user-nav {
	float:right;
}
.navbar .user-nav li {
	background-color:#000;
    display: inline-block;
}
.navbar .user-nav li a {
	display: block;
    height: 49px;
    width: 49px;
	
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	
	-webkit-box-shadow: inset 0 -4px 0 #000;
	   -moz-box-shadow: inset 0 -4px 0 #000;
			box-shadow: inset 0 -4px 0 #000;
}
.navbar .user-nav li a:hover {
	-webkit-box-shadow: inset 0 -4px 0 #00E800;
	   -moz-box-shadow: inset 0 -4px 0 #00E800;
			box-shadow: inset 0 -4px 0 #00E800;
}

.navbar .user-nav li a.icon-status { background: url(../img/light/stats.png) no-repeat 50% 50%; }
.navbar .user-nav li a.icon-user { background: url(../img/light/users2.png) no-repeat 50% 50%; }
.navbar .user-nav li a.icon-dialog { background: url(../img/light/laptop.png) no-repeat 50% 50%; }
.navbar .user-nav li a.icon-logout { background: url(../img/light/runningMan.png) no-repeat 50% 50%; }

.icon-bullet-1 { background: url(../img/__tmp/slider/bullets.png) no-repeat 0 0; }
.icon-bullet-2 { background: url(../img/__tmp/slider/bullets.png) no-repeat 0 -29px; }
.icon-bullet-3 { background: url(../img/__tmp/slider/bullets.png) no-repeat 0 -58px; }

.navbar #logo {
	float:left;
	width:220px;height:50px;
	background: #000 url(../img/logo.png) no-repeat 29px center;
	
	-webkit-transition: opacity 0.2s;
	   -moz-transition: opacity 0.2s;
			transition: opacity 0.2s;
}
.navbar #logo:hover {
	opacity:0.7;
}
.navbar .search {
	float:left;
}
.navbar .search input {
	height:14px;
	background: #343434 url(../img/light/magnify.png) no-repeat 95% 50%;
	border:0;
	padding:18px;
	color:#959492;
	width:233px;
	font-size:13px;
	outline:none;
	margin-bottom:0;
	
	-webkit-transition: none;
	   -moz-transition: none;
			transition: none;
}
.navbar .search input:focus {
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}
.navbar .nav {
	float:left;
	font-size:0;
}
.navbar .nav li {
	display:inline-block;
}
.navbar .nav li a {
	display:inline-block;
	text-decoration:none;
	padding:14px 15px 16px 15px;
	background-color:#000;
	color:#ededed;
	font-size:13px;
	
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	
	-webkit-box-shadow: inset 0 -4px 0 #000;
	   -moz-box-shadow: inset 0 -4px 0 #000;
			box-shadow: inset 0 -4px 0 #000;
}
.navbar .nav li a:hover {
	-webkit-box-shadow: inset 0 -4px 0 #00E800;
	   -moz-box-shadow: inset 0 -4px 0 #00E800;
			box-shadow: inset 0 -4px 0 #00E800;
}

.links a{display:inline-block; padding:3px 15px; margin:7px 10px; background:#444; text-decoration:none; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
.links a:hover{background:#eb3755; color:#fff;}
.content{margin:40px; width:260px; height:500px; padding:20px; overflow:auto; background:#333; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.content p:nth-child(even){color:#999; font-size:17px; font-style:italic;}
.content p:nth-child(3n+0){color:#c96;}

.sidebar-nav {
	position:fixed;
	top:50px;left:0;
	width:220px;height:100%;
	background-color:#f3f3f3;
	z-index:9;
	overflow:auto;
}
.sidebar-nav .mCustomScrollBox > .mCSB_scrollTools {
	width:10px;
}
#navigation ul {
	display:block;
	width:220px;
	text-transform:uppercase;
	font-size:10px;
}
#navigation ul li {
	line-height:10px;
}
#navigation ul li a {
	position:relative;
	display:inline-block;
	width:190px;
	padding:12px 0 13px 30px;
	background-color: transparent;
	color:#696969;
	text-decoration:none;
	outline:none;
}
#navigation ul li a:hover {
	background-color: #e7e7e7;
}

#navigation ul li a.active {
	background: #343434;
	color:#fff;
}
#navigation ul li span {
	position:absolute;
	top:9px;right:9px;
	padding:1px 1px 3px 0;
	width:14px;height:12px;
	background: transparent url(../img/nav.png) no-repeat center center;
}
#navigation ul li a.active span { display:none; }
#navigation ul ol {
	display:none;
	margin-left:0;
}
#navigation ul ol.open {
	display:inline;
}
#navigation ul ol li a.current{ color:#000;background-color:#CDFDCD; }
#navigation ul ol li a {
	background: #fff url(../img/bg-breadcrumbs.png) no-repeat 12px 11px;
	color:#737373;
	
	padding:13px 0 13px 35px;
	width:185px;
	
	-moz-transition: all 300ms ease 0s;
	-o-transition: all 300ms ease 0s;
	-webkit-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
#navigation ul ol li a:hover {
	background: #CDFDCD url(../img/bg-breadcrumbs.png) no-repeat 18px 11px;
	color:#252525;
}
#navigation ul ol li:last-child a {
	border-bottom:0;
}
/* navigation icons */
#navigation ul i {
	position:absolute;left:15px;top:11px;
	display:inline-block;
	width:14px;height:14px;
}
.container {
	margin:50px 0 0 220px;
	width:auto;
	min-width:450px;
}
.container.filter-view {
	margin-left:486px;
}
#title {
	position:relative;
	padding:11px;
	/*background-color:#CDFDCD;*/
	background-color:#00E800;
	text-transform:uppercase;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	line-height:13.5px;
}
ul.sub {
	width:100%;
	text-align:center;
	margin:15px 0 25px 0;
}
ul.sub li {
	display:inline-block;
	height:65px;
	width:120px;
	text-align:center;
	background-color:rgba(0,0,0,0.05);
	padding:5px;
	margin:13px 8px 0 0;
}
ul.sub li span {
	display:block;
	font-size:15px;
}
ul.sub li span.counter {
	margin-top:5px;
	font:20px/26px 'OpenSansRegular',Arial,sans-serif;
}
ul.sub li span.info {
	line-height:19px;
}
ul.sub li span.bar {
	width:110px;
	height:2px;
	background-color:#333;
	margin:5px 0 0 3px;
	padding:2px;
}
ul.sub li span.bar em {
	display:block;
	height:2px;
	background-color:#fff;
	
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.wrapper {
	margin:0 20px;
}
.holder.char-holder,
.holder-clean.char-holder {
	padding:3% 5%;
	background-color:#ececec;
}
.bind.padd {
	min-height:130px;
}
.bind.char-holder {
	min-height:103px;
}
.bind {
	margin-left:50px;
}
.bind .bind-cont {
	display:none;
}
.bind-tab {
	float:left;
	width:50px;
	background-color:#343434;
	border-top:5px solid #00E800;
	height:100%;
	position:absolute;
	
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}
.bind-tab li a {
	position:relative;
	display:block;
	width:50px;
	height:38px;
	text-align:center;
	padding-top:12px;
	outline:none;
	
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.bind-tab li a.active:after {
	content:"";
	position:absolute;
	top:18px;right:-13px;
	
	border-style: solid;
	border-width: 7px;
	border-left-color: #343434;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bind-tab li a:hover,
.bind-tab li a.active {
	background-color:#000;
}
.bind-tab li a:hover:after,
.bind-tab li a.active:after {
	border-left-color: #000;
}
.bind-tab.red {
	background-color:#87FF7C;
}
.bind-tab.red li a:hover,
.bind-tab.red li a.active {
	background-color:#00E800;
}
.bind-tab.red li a:hover:after,
.bind-tab.red li a.active:after {
	border-left-color: #00E800;
}
.char,
.chart-2,
.chart-3,
.chart-4 {
	width:100%;height:250px;
}
.chart-3 .legend,
.chart-3 .legend div,
.chart-3 .legend table {
	top:0;right:0;
}
.chars-dynamic-1 { color:#59b3e7; }
.chars-dynamic-2 { color:#ef705b; }
.chars-dynamic-3 { color:#00E800; }
.dynamic-holder { width:100%;margin:15px 0 35px 0;text-align:center; }
.dynamic-holder li { display:inline-block;width:200px;text-shadow:1px 1px #fff; }
.dynamic-holder span { margin:10px; }
.dynamic-holder em { font-size:14px;font-style:normal }
.dynamic-holder strong { font: 20px/28px 'OpenSansRegular', Arial, sans-serif;letter-spacing: 0; }

.whead {
	position:relative;
	display:block;
	padding:5px 0;
	color:#696969;
	background-color:#ececec;
}
.whead strong {
	display:block;
	margin:6px 10px 6px 10px;
	font-size:15px;
	font-weight:300;
}
.border-3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.block {
	display:block;
}
.top-5 {
	margin-top:5px;
}
.top-0 {
	margin-top:0!important;
}
.top-10 {
	margin-top:10px;
}
.top-23 {
	margin-top:23px;
}
.top-30 {
	margin-top:30px;
}
.top-40 {
	margin-top:40px;
}
.bottom-3 {
	margin-bottom:3px;
}
.bottom-5 {
	margin-bottom:5px;
}
.bottom-35 {
	margin-bottom:35px!important;
}
.text-center {
	text-align:center;
}
.text-left {
	text-align:left;
}
.opacity-3 {
	opacity:0.3;
}
.over-hide {
	overflow:hidden
}
.visible {
	display:inline-block;
}
.max { width:100%; }
.round-3 {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}
.shadow {
	-webkit-box-shadow:0 0 0 3px rgba(100,100,100,0.08);
	   -moz-box-shadow:0 0 0 3px rgba(100,100,100,0.08);
			box-shadow:0 0 0 3px rgba(100,100,100,0.08);
}
.no-shadow {
	-webkit-box-shadow:none!important;
	   -moz-box-shadow:none!important;
			box-shadow:none!important;
}
.dotted {
	width:100%;
	height:0px;
	display:inline-block;
	border-top:1px solid #000;
	border-bottom:1px solid #47484a;
	position:relative;
}
.dotted:after {
	position:absolute;
	content: url(../img/sidebar-accent.png);
	width:33px;
	height:9px;
	left:50%;
	top:-8px;
	margin-left:-16px;
}
.relative {
	position:relative;
}
.border-0 {
	border:0!important;
}
.padd-0 {
	padding:0!important;
}
.padd-15 {
	padding:15px;
}
.right-6 {
	margin-right:6px;
}
.right-15 {
	margin-right:15px;
}
.bottom-9 {
	margin-bottom:9px;
}
.max-900 {
	max-width:900px;
}
.auto {
	margin:0 auto;
}
.white {
	background-color:#fff!important;
}
.blueBg, .redBg, .yellowBg, .backBg, .greenBg, .grayBg, .grayLightBg {
	padding:3px 5px;
	color:#fff;
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}
.blueBg { background-color:#66859e; }
.redBg { background-color:#f3623b; }
.yellowBg { background-color:#f2df42; }
.backBg { background-color:#252525; }
.greenBg { background-color:#00E800; }
.grayBg { background-color:#555555; }
.grayLightBg { background-color:#919191; }

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eee;
}
blockquote p {
	margin:3px 0;
	font-size:12px;
}
blockquote small {
	color: #999;
}
blockquote small:before {
	content: '\2014 \00A0';
}
ul.ulCheck li {
	padding-left:20px;
	background: url(../img/ul-check.png) no-repeat 0 3px;
}
ul.ulCheck li.decline {
	background-position:0 -33px;
}
ul.ulBullet li {
	padding-left:20px;
	background: url(../img/ul-bullet.png) no-repeat 0 3px;
}
ul.ulArrow li {
	padding-left:20px;
	background: url(../img/ul-arrow.png) no-repeat 0 3px;
}
ul.ulLocation li {
	padding:1px 0 5px 20px;
	background: url(../img/ul_pins/gray.png) no-repeat 1px 2px;
}
ul.ulLocation li blockquote {
	margin-top:12px;
}
ul.ulLocation li.red { background: url(../img/ul_pins/red.png) no-repeat 1px 2px; }
ul.ulLocation li.blue { background: url(../img/ul_pins/blue.png) no-repeat 1px 2px; }
ul.ulLocation li.light-blue { background: url(../img/ul_pins/light-blue.png) no-repeat 1px 2px; }
ul.ulLocation li.lila { background: url(../img/ul_pins/lila.png) no-repeat 1px 2px; }
ul.ulLocation li.orange { background: url(../img/ul_pins/orange.png) no-repeat 1px 2px; }
ul.ulLocation li.green { background: url(../img/ul_pins/green.png) no-repeat 1px 2px; }
ul.ulLocation li.black { background: url(../img/ul_pins/black.png) no-repeat 1px 2px; }
/* icons */
[class^="ico-"], [class*="ico-"], [class="ico-"] {
	display:inline-block;
	width:14px;height:14px;
	margin-right: 10px;
}
.ico-stats { background: url(../img/dark/stats.png) no-repeat center center; }
.ico-user { background: url(../img/dark/user.png) no-repeat center center; }
.ico-laptop { background: url(../img/dark/laptop.png) no-repeat center center; }
.ico-logout { background: url(../img/dark/runningMan.png) no-repeat center center; }
.ico-dribble { background: url(../img/dark/dribbble2.png) no-repeat center center; }
.ico-dialog { background: url(../img/dark/dialog.png) no-repeat center center; }

/* images */
.img-forward {
	padding:0;
	border:4px solid #ccc;
}

/* locations */
#map-holder {
	position:relative;
	margin-bottom:13px;
	overflow:hidden;
}
#google-map {
	width:100%;
	height:550px;
}
#marker-list {
	position:absolute;
	left:0;top:0;
	width:269px;height:550px;
	font-size: 11px;
	color:#fff;
	padding:0;
	
	background-color:rgba(0,0,0,0.75);
	overflow:auto;
	text-transform:uppercase;
}

#marker-list a {
	display:block;
	text-decoration:none;
	padding:15px 0 14px 40px;
	margin-right:16px;
	background: url(../img/pin-label.png) no-repeat -283px center;
	cursor:pointer;
	color:#fff;
	
	-webkit-transition: background-color 0.3s ease 0s;
	-moz-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s;
}
#marker-list a:hover,
#marker-list a.active {
	background: url(../img/pin-label.png) no-repeat 16px center;
	background-color:#fff;
	color:#000;
}
#address-cluod {
	position:absolute;
	right:-500px;top:40px;
	width:350px;height:200px;
	background-color:rgba(0,0,0,0.75);
	color:#fff;
	padding-left:20px;
}
#address-cluod h4 {
	font-weight:300;
}
#address-cluod p {
	font-size:12px;
	line-height:12px;
}
.toggle-content .box {
	padding:0;
}
.toggle-content .box p {
	padding:15px;
}

/* form stuff */
.main { margin:0; }
.main .row {
	padding: 19px 16px;
	min-height:30px;
	margin:0;
}
.main .row:nth-child(2n) {
	background-color:#f4f4f4;
}
.main .row:after {
    clear: both;
    content: "";
    display: block;
}
.main .row-note {
	background-color:#fff9d7;
	border:1px solid #d0b93d;
	color:#252525;
	text-transform:none;
	font-size:12px;
	
	box-shadow:1px 0px 2px rgba(208,185,61,0.55);
	-moz-box-shadow:1px 0px 2px rgba(208,185,61,0.55);
	-webkit-box-shadow:1px 0px 2px rgba(208,185,61,0.55);
}
.main .row-note span {
	display:block;
	padding:0 10px;
	margin:3px;
	
	border:1px dashed #d0b93d;
}
.main .row-note, .main .row-note span  {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.main .grid1 {
	float:left;
	width:30%;
}
.main .grid2 {
	float:left;
	width:70%;
}
.main .grid3 {
	width:100%;
}
.main .grid4 {
	float:left;
	width:50%;
}
.main .grid5 {
	float:left;
	width:40%;
}
.main .grid5 select[multiple] {
	height:200px;
}
.main .grid6 {
	float:left;
	width:20%;
	
}
.main [class^="grid"] > * {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.main [class^="grid"] > *:last-child {
	margin-right:0;
}
.main label {
	display: block;
    float: left;
	padding-top:7px;
	cursor:default;
}
.main .row-high {
	background: url(../img/form-foot.png) repeat 0 0;
}
.main .shiny,
.main .tagsinput {
	border:1px solid #ccc;
	padding:7px;
	margin-bottom:0;
	color:#6c6c6c;
	width:100%;
	font-size:12px;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
input:focus,
textarea:focus {
	outline:none;
}
.main input[type="text"].shiny,
.main input[type="password"].shiny {
	height:30px;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
	
}
.main input[type="text"].shiny:focus,
.main input[type="password"].shiny:focus,
.main textarea.shiny:focus {
	
	border:1px solid #ccc;
	
	-webkit-box-shadow: 0 0 0 2px #ededed;
	   -moz-box-shadow: 0 0 0 2px #ededed;
			box-shadow: 0 0 0 2px #ededed;
}
.main textarea.shiny {
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
.main input[type=checkbox].simple {
	position:relative;
	top:7px;
}
.main input[type=submit] {
	border:1px solid #589b27;
	padding:4px 12px;
	color:#fff;
	/*text-shadow:1px 1px #c4f1a6;*/
	
	box-shadow: 0 2px 2px -2px #848484;
	
	background: #00E800; /* Old browsers */
	background: -moz-linear-gradient(top,  #00E800 0%, #10E410 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00E800), color-stop(100%,#10E410)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00E800 0%,#10E410 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00E800 0%,#10E410 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00E800 0%,#10E410 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00E800 0%,#10E410 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00E800', endColorstr='#10E410',GradientType=0 ); /* IE6-9 */
}
.main input[type=submit]:active {
	/*
	background:none;
	background-image:none;
	background-color:#9bdf6c;
	*/
}
.main input[type=submit]:hover {
	color:#fff;
	background: #00E800; /* Old browsers */
	background: -moz-linear-gradient(top,  #00E800 0%, #11d011 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00E800), color-stop(100%,#11d011)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00E800 0%,#11d011 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00E800 0%,#11d011 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00E800 0%,#11d011 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00E800 0%,#11d011 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00E800', endColorstr='#11d011',GradientType=0 ); /* IE6-9 */
}
.table-bordered,
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child,
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
.thumbnail {
	font-size:12px;
	background-color:#f3f3f3;
	
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
	
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}
.typeahead  {
	min-width:545px;
}
.main #tags_tag { box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none; } /* fix for tags */
textarea.no-resize {
	resize:none
}
.main span.small {
	display:block;
	color:#929292;
	font-size:12px;
	font-style:italic;
	margin-top:5px;
}
.main label > [class*="ico-"] {
	position:relative;
	top:2px;left:2px;
}
.main input.icon {
	background: #fff url(../img/dark/photos.png) no-repeat 5px center;
	padding-left:25px;
}
.main .btn-group.open .btn-primary.dropdown-toggle {
	background-color:#7ab851;
}
.btn-group { margin-bottom:5px; }
/* input size */
.main input[class*="size"] {
	float:left;margin-right:1.5%;
}
.main input.size2 {
	width:49.25%;
}
.main input.size3 {
	width:32.333%;
}
.main input.size4 {
	width:23.875%;
}
.main input.size5 {
	width:18.8%;
}
/* styled radio input */
.label_radio { padding-left: 34px; }
.label_radio { background: url(../img/radio-off.png) no-repeat 0 8px; }
label.r_on { background: url(../img/radio-on.png) no-repeat 0 8px; }
label.label_radio { padding:10px 10px 8px 30px; }
.label_radio input { position: absolute; left: -9999px; }

/* input highlight */
.main input.blue-high,
.main input.red-high,
.main input.yellow-high,
.main input.black-high,
.main input.green-high,
.main input.violet-high {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

body .main input[type="text"].blue-high:focus{
	
    border:1px solid rgba(77,144,254, 0.9); 
	
	box-shadow: 0 0 0 2px #cfe1f7;
	-moz-box-shadow: 0 0 0 2px #cfe1f7;
	-webkit-box-shadow: 0 0 0 2px #cfe1f7;
}
.main input[type="text"].red-high:focus{
	
    border:1px solid rgba(251,67,67, 0.9); 
	
	box-shadow: 0 0 0 2px rgba(251,67,67, 0.3);
	-moz-box-shadow: 0 0 0 2px rgba(251,67,67, 0.3);
	-webkit-box-shadow: 0 0 0 2px rgba(251,67,67, 0.3);
}
.main input[type="text"].yellow-high:focus{
	
    border:1px solid #e3c22b; 
	
	box-shadow: 0 0 0 2px rgba(245,218,69, 0.5);
	-moz-box-shadow: 0 0 0 2px rgba(245,218,69, 0.5);
	-webkit-box-shadow: 0 0 0 2px rgba(245,218,69, 0.5);
}
.main input[type="text"].black-high:focus{
	
    border:1px solid #252525; 
	
	box-shadow: 0 0 0 2px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 0 0 2px rgba(0,0,0, 0.2);
	-webkit-box-shadow: 0 0 0 2px rgba(0,0,0, 0.2);
}
.main input[type="text"].green-high:focus{
	
    border:1px solid #73b92f; 
	
	box-shadow: 0 0 0 2px rgba(137,220,55, 0.4);
	-moz-box-shadow: 0 0 0 2px rgba(137,220,55, 0.4);
	-webkit-box-shadow: 0 0 0 2px rgba(137,220,55, 0.4);
}
.main input[type="text"].violet-high:focus{
	
    border:1px solid #a72fb9; 
	
	box-shadow: 0 0 0 2px rgba(167,47,185, 0.4);
	-moz-box-shadow: 0 0 0 2px rgba(167,47,185, 0.4);
	-webkit-box-shadow: 0 0 0 2px rgba(167,47,185, 0.4);
}

/* input colors */
body .main input[type="text"].error,
body .main input[type="password"].error,
body .main textarea.error {
    border:1px solid rgba(251,67,67, 0.9); 
	
	box-shadow: 0 0 0 2px rgba(251,67,67, 0.3);
	-moz-box-shadow: 0 0 0 2px rgba(251,67,67, 0.3);
	-webkit-box-shadow: 0 0 0 2px rgba(251,67,67, 0.3);
}
.main span.error {
	color:rgba(251,67,67, 0.9);
}



.btn, .add-on {
	-webkit-border-radius:0!important;
	   -moz-border-radius:0!important;
			border-radius:0!important;
}
.main .btn:hover {
	/*
	color:#252525;
	background-image:none;
	background-color:#fafafa;
	*/
}
.main .btn-primary {
	border:1px solid #589b27;
	/*text-shadow:1px 1px #c4f1a6;*/
	color:#fff;
	
	box-shadow: 0 2px 2px -2px #848484;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
	
	background: #00E800; /* Old browsers */
	background: -moz-linear-gradient(top,  #00E800 0%, #10E410 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00E800), color-stop(100%,#10E410)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00E800 0%,#10E410 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00E800 0%,#10E410 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00E800 0%,#10E410 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00E800 0%,#10E410 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00E800', endColorstr='#10E410',GradientType=0 ); /* IE6-9 */
}
.main .btn-primary:hover {
	color:#fff;
	background: #00E800; /* Old browsers */
	background: -moz-linear-gradient(top,  #00E800 0%, #11d011 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00E800), color-stop(100%,#11d011)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00E800 0%,#11d011 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00E800 0%,#11d011 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00E800 0%,#11d011 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00E800 0%,#11d011 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00E800', endColorstr='#11d011',GradientType=0 ); /* IE6-9 */
}
.main .btn:active {
	/*
	background: #ffffff;
	background-image:none;
	*/
}
.dropdown-menu {
	text-align:left;
	z-index:15;
}
.main .dropdown-menu {
	margin:3px 0 0 0;
	padding:0;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
			
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}
.main .relative.dropdown-menu {
	margin-top:0;
	margin-right:15px;
}
.main .dropdown-menu li.divider {
	margin:0;padding:0;
	border-bottom:0;
}
.main .dropdown-menu li a {
	padding:5px 8px;
}
.main .dropdown-menu li a:hover {
	color:#fff;
	
	background: #252525;
}
.main .dropdown-menu li a i[class*="icon-"]{
	padding-right:6px;
}
.main .dropdown-menu li a:focus {
	color:#589b27;
	text-shadow:1px 1px #c4f1a6;
	
	background: #97de66; /* Old browsers */
	background: -moz-linear-gradient(top,  #97de66 0%, #88d555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97de66), color-stop(100%,#88d555)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #97de66 0%,#88d555 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #97de66 0%,#88d555 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #97de66 0%,#88d555 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #97de66 0%,#88d555 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97de66', endColorstr='#88d555',GradientType=0 ); /* IE6-9 */
}
.main .input-prepend input,
.main .input-append input,
.main .input-prepend .add-on,
.main .nav-tabs li a {
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
			
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}
.main .input-prepend .add-on,
.main .input-append .add-on {
	background-image:none;
	background-color:#fafafa;
}
.main .input-prepend input:focus,
.main .input-append input:focus {
	border:1px solid #ccc;
	
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}
.main .nav-tabs li a {
	color:#252525;
}
.main .nav-tabs li.active a {
	border-bottom:1px solid #fafafa;
	background-color: #fff;
}
.search-box {
	font-size:13px;
	position:absolute;
	top:30px;
	background-color:#eee;
	width:100%;
	z-index:5;
}
.search-box li {
	padding:5px;
}
.search-box li:hover {
	background-color:#dedede;
	color:#000;
	cursor:pointer;
}
/* ui slider */
.ui-slider,
.ui-range-slider,
.ui-fixed-slider,
.ui-max-slider {
	margin-bottom:27px;
}
.row.example-search {
	padding:7px;
}
.row.example-search input {
	float:left;
	background: #fff url(../img/dark/magnify.png) no-repeat 5px 50%;
	padding-left:23px;
	width:93%;
}
.row.example-search a {
	float:left;
	width:7%;
	margin:0;
	border-left:0;
	
	-webkit-box-shadow: 0 0 0 2px #ededed;
	   -moz-box-shadow: 0 0 0 2px #ededed;
		    box-shadow: 0 0 0 2px #ededed;
}
.example-ui-right {
	padding:18px 15px 0 270px;
}
/* tooltip examples */
.tooltip-examples li {
	display:inline-block;
	margin:0 10px;
}
/* nav tabs */
.tabbable {
	margin-bottom:30px;
}
.nav-tabs {
	border-bottom:1px solid #c3c3c3;
	background-color:#eee;
	text-transform:uppercase;
	margin-bottom:0;
	
	border:1px solid #c3c3c3;
	border-bottom:0;
}
.nav-tabs > li > a,
.tabs-below > .nav-tabs > li > a {
	color:#000;
	border:0!important;
	border-right:1px solid #c3c3c3!important;
	
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.tabs-below .nav-tabs {
	border-bottom:1px solid #c3c3c3;
}
.tab-content {
	padding:10px 10px 0 10px;
	background-color:#fff;
	border:1px solid #c3c3c3;
}
.tabs-below .tab-content {
	border-bottom:0;
}
.tabs-left .nav-tabs {
	margin-right:0;
}
.tabs-left .nav-tabs > li > a {
	background: url(../img/bg-breadcrumb.png) repeat-x 0 0;
	border-bottom:1px solid #c3c3c3!important;
	margin-bottom: 0;
}
.tabs-left .nav-tabs > li.active > a {
	background-image:none;
	background-color:#fff;
	border-right:0!important;
	border-bottom:1px solid #c3c3c3!important;
}
.tabs-left > .nav-tabs > li > a {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.tabs-left .tab-content {
	border-left:0;
	min-height:98px;
}
.alert {
	font-size:13px;
	margin-bottom: 10px;
	
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.alert .close {
	top:-3px;right:-25px;
}
.alert h4 {
	margin-bottom:10px;
}
.alert-block .close {
	top:-7px;
}
/* conversation */
.table-messaging ul {
	display: inline-block;
	width:100%;
}
.table-messaging li {
	float:left;
	width:100%;
	border-bottom:1px solid #ccc;
}
.table-messaging li:last-child {
	border:0;
}
.table-messaging li div.img-holder {
	float:left;
	width:60px;
	padding:10px;
}
.table-messaging li div.text {
	margin:0px 0 0 80px;
	padding-left:10px;
	padding-top:5px;
	border-left:1px solid #ccc;
	min-height:75px;
}
.table-messaging p.who {
	font-size:11px;
	font-weight:300;
	margin-bottom:3px;
	color:#6d7bab;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span,
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}
.pagination ul > li > a, .pagination ul > li > span {
	background-color:#f5f5f5;
	color:#252525;
	border:1px solid #dcdcdc;
	border-bottom:1px solid #b3b3b3;
	
	margin-right:3px;
	
	-webkit-box-shadow: 0 3px 3px -3px rgba(132, 132, 132, 0.3);
       -moz-box-shadow: 0 3px 3px -3px rgba(132, 132, 132, 0.3);
			box-shadow: 0 3px 3px -3px rgba(132, 132, 132, 0.3);
}
.pagination ul > li > a:hover, .pagination ul > li > span:hover {
	background-color:#f0f0f0;
}
.pagination ul > .active > a, .pagination ul > .active > span {
	background-color:#f0f0f0;
}
.pager li > a, .pager li > span {
	
	background-color:#f5f5f5;
	color:#252525;
	border:1px solid #dcdcdc;
	border-bottom:1px solid #b3b3b3;
	
	margin-right:3px;
	
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	
	-webkit-box-shadow: 0 3px 3px -3px rgba(132, 132, 132, 0.3);
       -moz-box-shadow: 0 3px 3px -3px rgba(132, 132, 132, 0.3);
			box-shadow: 0 3px 3px -3px rgba(132, 132, 132, 0.3);
}
.pager li > a:hover, .pager li > span:hover {
	background-color:#f0f0f0;
}
/* tables */
.tblr table { width:100%; }
.tblr thead {
	background-color:#eee;
	color:#252525;
}
.tblr thead tr {
	background-image:none;
	background-color:#CDFDCD;
}
.tblr thead th {
	padding:5px 0;
	font-weight:100;
	position:relative;
}
.tblr thead th:last-child,
.tblr td:last-child {
	border-right:0;
}
.tblr tbody td {
	padding:12px 0 12px 5px;
}
.tblr tbody tr:last-child td {
	border-bottom:0;
}
.tblr tbody tr:nth-child(even) td {
	background-color:#f2f2f2;
}
.tblr tbody tr:hover > td {
	background-color:#343434;
	color:#fff;
}
.tblr thead th.text-left {
	padding-left:10px;
}
.tblr.checkboxes thead th .check-wrap {
	padding: 5px 0 5px 0;
}
.tblr.checkboxes thead th:first-child {
	width:28px;
	padding-top:2px;
}
.tblr.checkboxes tbody tr td:first-child {
	padding:0 0 2px 10px;
}
.tblr.checkboxes tr.active td {
	background-color:#f8f8f8 ;
}
.tblr.twhite tbody tr td {
	background-color:#fff;
}
.tblr.twhite tbody tr:hover td {
	background-color:#f8f8f8;
	color:#252525;
}
.tblr.mainPic thead th:first-child {
	width:76px;
}
.tblr.mainPic tbody td:first-child {
	padding:8px;
}
.tblr.mainPic tbody td:first-child img {
	width:60px;height:60px;
}
.tblr.twhite tfoot {
	background: url(../img/form-foot.png) repeat 0 0;
}
.tblr tfoot tr td {
	border-top: 1px solid #DFDFDF;
    color: #5F5F5F;
    font-size: 13px;
    padding: 7px 6px 7px 11px;
}
.tblr tfoot tr:hover td {
	background-color:#f7f7f7;
	cursor:default;
}
.tblr .bdSortAsc,
.tblr .bdSortDsc {
	float:right;
	position:absolute;
	right:5px;
	margin-top:-15px;
	width:9px;height:12px;
	background: url(../img/table_nav.png) no-repeat 0 5px;
}
.tblr.rareTable .bdSortAsc,
.tblr.rareTable .bdSortDsc {
	margin-top:2px;
}
.tblr .bdSortDsc {
	background-position:-9px 0;
}
.tblr.rareTable thead th{
	padding:15px;
	border:0;
	background-color:#bcbcbc;
	color:#fff;
	text-shadow:none;
	text-align:left;
	font-size:14px;
	font-weight:500;
}
.tblr.rareTable tbody td,
.tblr.rareTable tbody tr,
.tblr.rareTable thead {
	border:0;
}
.tblr.rareTable thead th:nth-child(even){
	background-color:#cbcbcb;
}
.tblr.rareTable tbody tr:nth-child(even) td{
	background-color:#f2f2f2;
}
.tblr.rareTable tbody tr td {
	padding:15px;
}
.tblr.rareTable.small tbody tr td {
	padding:5px 5px 5px 15px;
}
.tblr.rareTable tbody tr td:nth-child(odd) {
	background-color:#ededed;
}
.tblr.rareTable tbody tr:nth-child(even) td:nth-child(odd) {
	background-color:#e6e6e6;
}
.tblr.rareTable tbody tr:hover > td {
	background-color:#41382c;
	color:#fff;
}
.tblr.rareTable tbody tr:hover > td:nth-child(odd) {
	background-color:#5d493e;
}
.tblr .action {
	padding: 6px 0 6px 5px;
	width:130px;
	text-align:center;
}
.tblr .ablanc  {
	padding:4px 6px;
	margin:0;
}
.tblr .label {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	font-size:11px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.tblr .progress-padd {
	padding:0 5px;
}
.tblr .btn {
	padding:3px 6px;
}
.tblr span.t-active,
.tblr span.t-unactive {
	display:inline-block;
	width:19px;height:19px;
	background: url(../img/activity.png) no-repeat 0 -69px;
}
.tblr span.t-unactive {
	background-position:0 2px;
}
.table-search-holder {
	width:100%;
	padding:10px 0 10px 10px;
	display:inline-block;
	background-color: #eee;
	border-top:1px solid #c3c3c3;
	border-bottom:0;
}
input.table-search {
	margin:0;
	min-width:320px;
	
	border-radius:0;
	border:1px solid #d4d4d4;
	color:#ababab;
}
input.table-search:focus {
	border:1px solid #d4d4d4;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 0 2px rgba(37, 37, 37, 0.07);
       -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 0 2px rgba(37, 37, 37, 0.07);
			box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 0 2px rgba(37, 37, 37, 0.07);
}
/* icons */
.icons-list {
	width:100%;
	padding:10px 5px;
}
.icons-list li {
	float: left;
    margin: 2px 0;
    width: 25%;
}
/* progress bar */
.progress-bar {
	/*width: 320px;*/
	height: 25px;
	padding: 3px;
	margin: 0;
	background-color: #eee;
	border:1px solid #e0e0e0;
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}

.progress-bar span {
	
	display: inline-block;
	height: 100%;
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	
	/*
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
	*/
		
	-webkit-transition: width .4s ease-in-out;
	   -moz-transition: width .4s ease-in-out;
		-ms-transition: width .4s ease-in-out;
		 -o-transition: width .4s ease-in-out;
			transition: width .4s ease-in-out;
}

.progress-bar.green span {
	background-color: #79cd79;
}
.progress-bar.red span {
	background-color: #ee6c69;
}
.progress-bar.blue span {
	background-color: #5bc0de;
}

.orange span {
	background-color: #fecf23;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
	background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
	background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
	background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
	background-image: -o-linear-gradient(top, #fecf23, #fd9215);
	background-image: linear-gradient(top, #fecf23, #fd9215);  
}	

.green span {
	background-color: #a5df41;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
	background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
	background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
	background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
	background-image: -o-linear-gradient(top, #a5df41, #4ca916);
	background-image: linear-gradient(top, #a5df41, #4ca916);  
}

.stripes span {
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;	
	
	background-image: -webkit-gradient(linear, left top, right bottom,
					  color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
					  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
					  color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
					  to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
					  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
					  transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
					  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
					  transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
					  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
					  transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
					  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
					  transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
					  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
					  transparent 75%, transparent);            
	
	-webkit-animation: animate-stripes 3s linear infinite;
	   -moz-animation: animate-stripes 3s linear infinite;       		
}

@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
/* buttons */
.btn {
	background-image:none;
	z-index:1;
	
	-webkit-box-shadow: 0 3px 3px -3px rgba(132,132,132,0.3);
	   -moz-box-shadow: 0 3px 3px -3px rgba(132,132,132,0.3);
			box-shadow: 0 3px 3px -3px rgba(132,132,132,0.3);
}
.btn:not([class*="btn-"]):hover {
	background-color:#f0f0f0;
}
.btn.btn-link {
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
			box-shadow: none;
}
.form-signin .btn {
	color: #5d5d5d;
    cursor: pointer;
    font-size: 12px;
    height: 26px;
    line-height: 24px;
    margin: 2px 1px;
    padding: 0 9px;
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
    
	border: 1px solid #D5D5D5;
    
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	
}
/* custom select */
span.customSelect {
	border:1px solid #ccc;
	padding:7px;
	color:#6c6c6c;
	width:100%;
	font-size:12px;
	
	box-shadow: 0 0 0 2px #ededed;
	-moz-box-shadow: 0 0 0 2px #ededed;
	-webkit-box-shadow: 0 0 0 2px #ededed;
	
	background: #fff url(../img/drop-down.png) no-repeat 98.5% 52%;
}
span.customSelect.changed {
	background-color: #f0dea4;
}

pre.prettyprint {
    margin-bottom:0;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}



/* messages */
.messages {
	width:100%;
	display:inline-block;
}
.messages li {
	float:left;
	position:relative;
	padding:15px 18px 15px 18px;
	position:relative;
	border-bottom:1px solid #e7e7e7;
	background: transparent url(../img/msg-brd.png) repeat-y 0 0;
	min-height:70px;
}
.messages li:after {
	content:"";
	width:12px;
	height:12px;
	position:absolute;
	top:20px;
	left:83px;
	background-color:#252525;
	
	-webkit-border-radius:90%;
	   -moz-border-radius:90%;
			border-radius:90%;
}
.messages li:last-child {
	border:0;
}
.messages li a {
	position:absolute;
	top:15px;left:15px;
	padding-right:18px;
	color:#252525;
	text-decoration:none;
	text-align:center;
}
.messages li img {
	display:block;
}
.messages li.right a {
	padding-right:0;
	padding-left:17px;
}
.messages li .text {
	position:relative;
	float:left;
	margin-left:80px;
	padding:0 5px;
	min-height:49px;
}
.messages img {
	width:60px;
	height:60px;
}
/* right message */
.messages li.right a {
	right:15px;
	left:auto;
}
.messages li.right .text {
	margin-left:0;
	margin-right:80px;
}
.messages li span {
	float:right;
	margin-right:10px;
}
.messages li span,
.messages li strong {
	font-size:11px;
	padding-bottom:5px;
	display:inline-block;
	font-weight:300;
	color:#6d7bab;
}
/* color message */
.messages li.white .text {
	background-color:#fff;
}
/*
.messages li.white .text:after {
	border-right-color: #f7f7f7;
}
.messages li.right.white .text:after {
	border-left-color: #f7f7f7;
}
*/

.left {
	float:left!important;
}
.right {
	float:right!important;
}

/* fast nav */
ul.fast {
	text-align:center;
	width:100%;
	margin:30px 0;
	font-size:0;
}
ul.fast li {
	display:inline;
}

ul.fast li a {
	display:inline-block;
	width:130px;
	height:66px;
	padding: 24px 10px 0 70px;
	background-color:#343434;
	font-size:20px;
	color:#eee;
	text-decoration:none;
	text-align:left;
	margin-right:5px;
	margin-bottom:5px;
	
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	
	-webkit-box-shadow: inset 0 -4px 0 #000;
	   -moz-box-shadow: inset 0 -4px 0 #000;
			box-shadow: inset 0 -4px 0 #000;
}
ul.fast li a:hover {
	-webkit-box-shadow: inset 0 -4px 0 #00E800;
	   -moz-box-shadow: inset 0 -4px 0 #00E800;
			box-shadow: inset 0 -4px 0 #00E800;
}
ul.fast li a.chart { background: #343434 url(../img/icons/32px/stats_white.png) no-repeat 10% 50%; }
ul.fast li a.windows { background: #343434 url(../img/icons/32px/windows8_white.png) no-repeat 10% 50%; }
ul.fast li a.pgr { background: #343434 url(../img/icons/32px/paragraph-left2_white.png) no-repeat 10% 50%; }
ul.fast li a.safari { background: #343434 url(../img/icons/32px/signup_white.png) no-repeat 10% 50%; }

.square .ch-item,
.square .ch-info-wrap,
.square .ch-info > div {
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}

.main-items-small {
	margin:10px 0 15px 0;
	position:relative;
}
.main-items-small li {
	display:inline-block;
	margin:0 3px;
}
.main-items-small li a span {
	margin-top:2px;
}
.action a i {
	margin-top:3px;
}

.ui-multi-slider {
	float:left;
	width:270px;
}
.ui-multi-slider span{
	float:left;
	height:110px;
	margin:15px
}
.ui-range-slider {
	margin-top:15px;
}
.ui-progressbar-move-1,
.ui-progressbar-move-2,
.ui-progressbar-move-3 {
	margin:10px 0;
}
.ui-progressbar.nice {
	height:24px;
	overflow:visible;
}
.ui-progressbar.nice .ui-progressbar-value{
	background: transparent url(../img/progress-animated.gif) repeat-x 0 0;
	border:1px solid #e78f08;
	height:24px;
}
.ui-progressbar.ui-widget-content {
	background-color:#e5e5e5;
	background-image:none;
	
	-webkit-box-shadow:inset 0 2px 4px rgba(115,115,115,0.2);
	   -moz-box-shadow:inset 0 2px 4px rgba(115,115,115,0.2);
			box-shadow:inset 0 2px 4px rgba(115,115,115,0.2);
}
.ui-progressbar {
	height:24px;
	overflow:visible;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
.ui-progressbar .ui-progressbar-value {
	height:24px;
	display:none;
	border:1px solid #00E800;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
/* preloaders */
[class^="preload-"] {
	display:inline-block;
	width:40px;
	height:40px;
}
.preload-1 { background: transparent url(../img/preloaders/1.gif) no-repeat center center; }
.preload-1s { background: transparent url(../img/preloaders/1s.gif) no-repeat center center; }
.preload-2 { background: transparent url(../img/preloaders/2.gif) no-repeat center center; }
.preload-2s { background: transparent url(../img/preloaders/2s.gif) no-repeat center center; }
.preload-3 { background: transparent url(../img/preloaders/3.gif) no-repeat center center; }
.preload-3s { background: transparent url(../img/preloaders/3s.gif) no-repeat center center; }
.preload-4 { background: transparent url(../img/preloaders/4.gif) no-repeat center center; }
.preload-4s { background: transparent url(../img/preloaders/4s.gif) no-repeat center center; }
.preload-5 { background: transparent url(../img/preloaders/5.gif) no-repeat center center; }
.preload-5s { background: transparent url(../img/preloaders/5s.gif) no-repeat center center; }
.preload-6 { background: transparent url(../img/preloaders/6.gif) no-repeat center center;width:90px;margin:0 10px; }
.preload-6s { background: transparent url(../img/preloaders/6s.gif) no-repeat center center; }
.preload-7 { background: transparent url(../img/preloaders/7.gif) no-repeat center center; }
.preload-7s { background: transparent url(../img/preloaders/7s.gif) no-repeat center center; }
.preload-8 { background: transparent url(../img/preloaders/8.gif) no-repeat center center; }
.preload-8s { background: transparent url(../img/preloaders/8s.gif) no-repeat center center; }
.preload-27 { background: transparent url(../img/preloaders/27.gif) no-repeat center center; }
.preload-25 { background: transparent url(../img/preloaders/25.gif) no-repeat center center; }
.preload-26 { background: transparent url(../img/preloaders/26.gif) no-repeat center center; }
.preload-16 { background: transparent url(../img/preloaders/16.gif) no-repeat center center; }
.preload-18 { background: transparent url(../img/preloaders/18.gif) no-repeat center center; }
.preload-24 { background: transparent url(../img/preloaders/24.gif) no-repeat center center; }
.preload-13 { background: transparent url(../img/preloaders/13.gif) no-repeat center center; }
.preload-20 { background: transparent url(../img/preloaders/20.gif) no-repeat center center; }
.preload-22 { background: transparent url(../img/preloaders/22.gif) no-repeat center center; }
.preload-17 { background: transparent url(../img/preloaders/17.gif) no-repeat center center; }
.preload-14 { background: transparent url(../img/preloaders/14.gif) no-repeat center center; }
.preload-9 { background: transparent url(../img/preloaders/9.gif) no-repeat center center; }
.preload-10 { background: transparent url(../img/preloaders/10.gif) no-repeat center center; }
.preload-11 { background: transparent url(../img/preloaders/11.gif) no-repeat center center; }
.preload-15 { background: transparent url(../img/preloaders/15.gif) no-repeat center center; }


span.border {
	display:inline-block;
	width:100%;
	height:5px;
	background: transparent url(../img/border.png) repeat-x 0 0;
}

.box {
	background-color:#fff;
}
.holder {
	background-color:#f7f7f7;
	border-top:5px solid #87FF7C;
	text-transform:none;
	font-size:12px;
	color:#5f5f5f;
	margin-bottom:35px;
}
.holder-clean {
	background-color:#f7f7f7;
	border-top:5px solid #d6d6d6;
	text-transform:none;
	font-size:12px;
	color:#5f5f5f;
}
.widget {
	float:left;
	width:49%;
	margin-left:2%;
	position:relative;
}
.third {
	float:left;
	width:32%;
	margin-left:2%;
}
.quart {
	float:left;
	width:23.5%;
	margin-left:2%;
}
.fifth {
	float:left;
	width:18.4%;
	margin-left:2%;
}
.sixth {
	float:left;
	width:15%;
	margin-left:2%;
}
.pentro {
	float:left;
	width:74.5%;
	margin-left:2%;
}
.fluid {
	float:left;
	width:100%;
	clear:both;
	/*margin-bottom:35px;*/
}
.fluid [class*="widget"]:first-child {
	margin-left:0;
}
.fluid [class*="widget"]:first-child,
.fluid [class*="third"]:first-child,
.fluid [class*="quart"]:first-child,
.fluid [class*="fifth"]:first-child,
.fluid [class*="sixth"]:first-child {
	margin-left:0;
}
.padd {
	padding:10px;
}
.no-padd {
	padding:0!important;
}
.sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {
	display:inline-block;
	clear:both;
	width:100%;
}
#bdStatus {
	float:left;
	padding-top:2px;
	color:#959595;
}
#bdPager {
	float:right;
}
#bdPager ul li {
	display:inline;
}
#bdPager ul li a {
	display:inline-block;
	text-align:center;
	padding:3px 5px 3px 5px;
	width:12px;
	border:1px solid #b8b8b8;
	color:#848484;
	font-size:12px;
	margin-left:3px;
	text-decoration:none;
	text-transform:uppercase;
	
	
}
#bdPager ul li a.active {
	background:none;
	background-color:#343434;
	border:1px solid #343434;
	color:#fff;
}
#bdPager ul li a.inactive {
	background:none;
	background-color:#eaeaea;
	color:#cbcbd6;
}
#bdPager ul li:first-child a,
#bdPager ul li:last-child a {
	width:35px;
}

/* LOGIN */
body.login {
	width:100%;
	height:100%;
	display:block;
	background-color:#454545;
}
.form-signin {
	width: 300px;
	height:350px;
	padding: 19px 29px 29px;
	margin: 15% auto 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	display:inline-block;
	width:300px;
	height:auto;
	padding:9px 27px 9px 9px;
	border:0;
	font-size:13px;
	line-height:100%;
	color:#ababab;
	margin-bottom:10px;
	
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
			
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
			box-shadow: none;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
	
	-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 0 2px rgba(37, 37, 37, 0.07);
       -moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 0 2px rgba(37, 37, 37, 0.07);
			box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 0 2px rgba(37, 37, 37, 0.07);
}
.form-signin label.checkbox {
	float:left;
	padding:4px 0 0 0;
	color: #818181;
    font-size: 14px;
	font-weight:300;
}
.form-signin label .check-wrap {
	margin-right:5px;
}
.form-signin .profile { text-align:center; }
.form-signin .profile span {
	display:inline-block;
	padding:7px;
	margin-bottom:15px;
	/*background-color:rgba(37,37,37,0.10);
	cursor:pointer;
	
	-webkit-transition: all 300ms ease 0s;
	   -moz-transition: all 300ms ease 0s;
			transition: all 300ms ease 0s;*/
}
/*
.form-signin .profile span:hover {
	background-color:rgba(37,37,37,0.20);
}*/
.form-signin button.btn {
	float:right;
	margin-right:1px;
	padding:8px 8px;
	height:30px;
	border:0;
	color:#447520;
	text-shadow:1px 1px #c4f1a6;
	text-transform:uppercase;
	font-size:10px;
	line-height:12px;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
	background: #97de66; /* Old browsers */
	background: -moz-linear-gradient(top,  #97de66 0%, #88d555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97de66), color-stop(100%,#88d555)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #97de66 0%,#88d555 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #97de66 0%,#88d555 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #97de66 0%,#88d555 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #97de66 0%,#88d555 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97de66', endColorstr='#88d555',GradientType=0 ); /* IE6-9 */
}
.form-signin button.btn:hover {
	background: #8fd85e;
	background-image:none;
}
.form-signin button.btn.loading {
	background: #bcbcbc url(../img/progress2.png) repeat 0 0;
	color:#6b6b6b;
	text-shadow:1px 1px #fff;
	border:1px solid #6b6b6b;
}

/* login animation */
.form-signin .profile,
.form-signin input.email,
.form-signin input.password,
.form-signin .login-bottom {
	position:relative;
}
.form-signin .profile {
	opacity:0;
}

/* checkbox styling */
.check-wrap {
	display:inline-block;
	margin:0;
}
.check-wrap a {
	display:inline-block;
	width:18px;
	height:18px;
	text-decoration:none;
	background:transparent url(../img/checkbox.png) no-repeat 0 0;
	position:relative;
	top:4px;
}
.check-wrap a:hover {
	background-position:0 -18px;
}
.check-wrap a.checked {
	background-position:0 -36px;
}
.check-wrap a.disabled {
	background-position:0 -54px;
	cursor:default;
}
.check-wrap a.disabled-checked {
	background-position:0 -72px;
	cursor:default;
}
/* checkbox styling ends here */
#products {
	float:left;
	margin: 15px 0 0 15px;
}
#products li {
	float:left;
}
#products li a {
	position:relative;
	float:left;
	width:212px;
	height:212px;
	margin: 0 10px 10px 0;
	background-color:#fff;
	text-decoration:none;
	color:#000;
}
#products li a:hover {
	background-color:#343434;
}
#products li a:hover > div {
	color:#fff;
}
#products li a div {
	margin:5px;
	text-transform:none;
	font-size:12px;
	line-height:13px;
	color:#000;
}
#products li a div span {
	/*color:#00E800;*/
}
#products span.over {
	position:absolute;
	top:0;left:0;
	width:212px;
	height:160px;
	background: transparent url(../img/grid-over.png) no-repeat 0 0;
}
.grid-load-more {
    float: left;
    width: 212px;
    height: 117px;
    margin: 0 10px 10px 0;
    position: relative;
    text-decoration: none;
	background-color: #00E800;
    color: #000000;
	text-align:center;
	color:#fff;
	font-size:15px;
	line-height:15px;
	font-weight:300;
	padding-top:95px;
	cursor:pointer;
	
	-webkit-transition: all 300ms ease 0s;
	   -moz-transition: all 300ms ease 0s;
			transition: all 300ms ease 0s;
}
.grid-load-more:hover {
	background-color: #e64848;
}
#filter {
	position:fixed;
	top:46px;left:221px;
	width:264px;height:100%;
	border-right:1px solid #ccc;
	font-size:13px;
	z-index:8;
	text-transform:none;
	background: #dadada url(../img/sidebar-bg.png) repeat 0 0;
}
#filter .wrap{
	padding:12px 9px 18px 9px;
	background: transparent url(../img/border-horizontal.png) repeat-x bottom left;
}
#filter .title {
	display:block;
	width:100%;
	height:51px;
	border-bottom:1px solid #c3c3c3;
	background: url(../img/bg-title.png) repeat-x 0 0;
}
#filter .title h4 {
	float:left;
	font-size:10px;
	font-weight:400;
	text-transform:uppercase;
	padding-top:7px;
	padding-left:7px;
}
#filter .title span {
	float:right;
	display:inline-block;
	width:25px;
	height:25px;
	border:1px solid #c3c3c3;
	margin:13px 11px 0 0;
	
	cursor:pointer;
	
	-webkit-box-shadow: 0 1px 0 #fff;
	   -moz-box-shadow: 0 1px 0 #fff;
			box-shadow: 0 1px 0 #fff;
	
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
	
	-webkit-transition: all 300ms ease 0s;
	   -moz-transition: all 300ms ease 0s;
			transition: all 300ms ease 0s;
}
#filter .title span.settings { background: transparent url(../img/dark/table.png) no-repeat center center; }
#filter .title span.close { opacity:1; background: transparent url(../img/dark/goFull.png) no-repeat center center; }
#filter .title span:hover {
	background-color: rgba(255, 255, 255, 0.75);
}
#filter input {
	border:1px solid #d7d7d7;
	width:233px;
	display:block;
	padding:5px;
	font-size:13px;
	margin-bottom:15px;
	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}
#filter .drop-down {
	position:relative;
	font-size:13px;
	cursor:pointer;
}
#filter .drop-down span {
	border:1px solid #d7d7d7;
	width:233px;
	display:block;
	padding:5px;
	margin-bottom:15px;
	background: #fff url(../img/drop-down.png) no-repeat 96% 50%;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#filter .drop-down ul {
	display:none;
	position:absolute;
	top:29px;left:0;
	width:243px;
	background-color:#fff;
	border:1px solid #d7d7d7;
	z-index:3;
}
#filter .drop-down ul li a {
	display:inline-block;
	width:223px;
	padding:6px 10px;
	border-top:1px solid #504740;
	border-bottom:1px solid #2b221c;
	text-decoration:none;
	color:#a8a29b;
	background-color:#362e27;
	
	-webkit-transition: color 0.2s;
	   -moz-transition: color 0.2s;
			transition: color 0.2s;
}
#filter .drop-down ul li a:hover {
	color:#fff;
}
#filter .drop-down ul li:last-child a {
	border-bottom:0;
}
#filter p {
	margin-bottom:3px;
}

.invlice-top {
	margin-top:30px;
	margin-bottom:30px;
}
.invlice-top span {
	margin-left:10px;
	color:#8c8c8c;
}

/* 404 */
.not-found {
	margin:12% auto 0;
	max-width:365px;
	text-align:center;
	background-color:#f4f4f4;
	padding:30px;
}
.not-found .note {
	color:#000;
	margin-bottom:15px;
}
.not-found .note span {
	display:block;
	font-size:120px;
	line-height:110px;
}
.not-found .note strong {
	display:block;
	font-weight:300;
	font-size:50px;
	line-height:60px;
}
.not-found .row.example-search input {
	width:85%;
}
.not-found .row.example-search a {
	width:15%;
	border: 1px solid #ccc;
	border-left: 0;
}
.not-found .shadow {
	box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
}
.not-found.search {
	max-width:600px;
}
.not-found .search-btns {
	margin-top:10px;
	text-align:left;
}
.not-found.search .bottom {
	padding:0 100px;
	text-align:center;
}
.not-found.search p {
	text-align:center;
	margin-top:20px;
	color:#818181;
	
}

/* calendar */
#external-events {
	width: 100%;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}
	
#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
	
.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 4px 4px;
	background: #343434;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
	
#external-events p {
	margin: 1.5em 0;
	font-size: 14px;
	color: #666;
}
	
#external-events p input {
	margin: 0;
	vertical-align: middle;
}


/* products table view */
.products-table { width:100%; }
.products-table img { width:60px;margin-right:10px; }
.products-table thead tr th { background-color:#939393; color:#fff;text-shadow:none;line-height:15px;font-weight:300;height:22px; }
.products-table thead tr th:nth-child(odd) { background-color:#898989; }
.products-table tbody tr td { background-color:#ffffff;padding:0 0 0 10px;color: #636363;font-size: 12px;font-style: italic;cursor:pointer; }
.products-table tbody tr:nth-child(odd) td { background-color:#f7f7f7; }
.products-table tbody tr td:nth-child(odd) { background-color:#ededed; }
.products-table tbody tr:nth-child(odd) td:nth-child(odd) { background-color:#e6e6e6; }

.products-table tbody tr:hover > td { background-color:#b0b0b0; }
.products-table tbody tr:nth-child(odd):hover > td { background-color:#aaaaaa; }
.products-table tbody tr:hover > td:nth-child(odd) { background-color:#a4a4a4; }
.products-table tbody tr:nth-child(odd):hover > td:nth-child(odd) { background-color:#9f9f9f; }

.table-more { width:100%;padding:30px 0;text-align:center; }
.table-more a { display:inline-block;background-color:#00E800;color:#fff;padding:20px;width:350px;text-decoration:none; }
.table-more a:hover { background-color:#2EF02E; }

/* item gallery */
.item-gallery { margin-top:20px; }
.item-gallery li.span3:nth-child(5n) { margin-left:0; }

/* skin palletra */
.skin {
	padding-top:5px;
}
.pattern li a {
	text-align:center;
}
.skin li, .pattern li {
	display:inline;
}
.skin li a, .pattern li a {
	display:inline-block;
	margin-right:5px;
	width:35px;
	height:25px;
	border:3px solid rgba(0,0,0,0.8);
}
.skin li:nth-child(5n) a, .pattern li:nth-child(5n) a {
	margin-right:0;
}
.pattern li a {
	background-color:#d2d2d2;
	color:#252525;
	font-weight:800;
	padding-top:3px;
	height:22px;
	text-decoration:none;
}
.pattern li a {
	margin-bottom:15px;
}
.skin li a.active,
.pattern li a.active { border:3px solid #fff; }
/* skin colors */
.skin li a.default { background-color:#7a5843; }
.skin li a.black { background-color:#252525; }
.skin li a.reddish { background-color:#ff7c7c; }
.skin li a.blanco { background-color:#fff; }
.skin li a.azul { background-color:#4e84e6; }

.example-button-2 {
	margin: 13px 0;
}
/* go to top button */
#gotop {
	display:none;
	position:fixed;
	bottom:10px;
	right:10px;
	width:40px;
	height:40px;
	background-color:rgba(0,0,0,1);
	opacity:0.8;
	z-index:3;
	cursor:pointer;
	background: #000 url(../img/gotop.png) no-repeat center center;
}
/* flot tooltip */
#flotTip { background-color:rgba(0,0,0,0.8)!important;color:#fff!important;padding:5px 8px 7px 8px!important;border-radius: 0!important;-moz-border-radius: 0!important;-webkit-border-radius: 0!important;}
/* home slide */
.slide {
	margin-left:4%;
}
.slide div{
	float:left;
	width:40%;
	text-align:left;
}

.slide h2 {
	padding-bottom:20px;
}
.slide img {
	width:50%;
}
.slide img,
.slide p {
	float:right;
}
.slide p {
	font-size:14px;
}
.slide-2 div,
.slide-2 p {
	width:100%;
}
.slide-2 p {
	margin-bottom:20px;
}
.slide-3 h2 {
	
}

.type-tip .grid2{
	position:relative;
}
.type-tip span.error {
	position:absolute;
	top:-30px;left:0;
	background-color:rgba(0,0,0,0.8);
	color:#fff;
	padding:3px 6px;
	
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.type-tip span.error:after {
	content:"";
	position:absolute;
	top:22px;left:10px;
	
	border-style: solid;
	border-width: 6px;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: rgba(0,0,0,0.8);
}
html.ie #marker-list{
	background-color:#000;
}
html.ie .navbar .search input {
	padding:4px 7px 10px 7px;
}
html.ie #navigation ul li span {
	border-bottom:1px solid #927a65;
	border-top:1px solid #2b2320;
}
.loginwarning {
	color: #dd8888;
	padding-bottom: 10px;
	float: left;
	width: 132px;
}
.tblr thead th.text-left {
	padding-left: 5px !important;
}
.buttontr {
	position: absolute;
	top: 7px;
	right: 7px;
}
.modal-header,
.modal-body {
	text-align: left;
}
.modal-footer form {
	margin: 0;
}
.beautifulData th {
	text-align: left;
	padding-left: 5px !important;
	cursor: pointer;
}
.beautifulData th:last-child,
.beautifulData td:last-child {
	text-align: center;
}
.main .input-prepend input {
	font-size: 12px;
}
.input-prepend {
	position: relative;
}
.input-prepend span.error {
	font-size: 12px;
}

.slugwrapper p {
	margin-top: 8px;
	font-size: 14px;
}
.slugwrapper p span {
	color: #0CB60C;
}
.ui-widget {
	font-family: 'Open Sans', sans-serif;
}
span#filepath {
	border: 1px solid #ccc;
	padding: 7px 10px;
	color: #333;
	margin-top: 10px;
	display: none;
}
span.fileinput-button > span.error {
	position: relative;
	top: auto;
	left: auto;
	margin-left: 10px;
	background-color: transparent;
	color: #ff0000;
}
span.fileinput-button > span.error:after {
	display: none;
}
a.btn [class^="icon-"] {
	margin-top: 3px;
}

.fluid.dashboard p {
	padding:15px 0;
	font-size:18px;
}