@font-face {
  font-family: 'MaisonNeueWEB-Light';
  src: url('../fonts/MaisonNeueWEB-Light.woff2') format('woff2'),
       url('../fonts/MaisonNeueWEB-Light.woff') format('woff');
}

@font-face {
  font-family: 'Antwerp-Light';
  src: url('../fonts/Antwerp-Light.eot');
  src: url('../fonts/Antwerp-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Antwerp-Light.woff') format('woff');
}