/* Variables */
$primary-color: #a6bcc5;
$dark-grey: #b3b5b7;
$global-padding: 15px;
$global-margin: 15px;
$left: left;
$right: right;
$uppercase: uppercase;
$white: #fff;
$footer-color: #3c3c3b;
$letter-spacing:2px;
$black: #000;
$light-grey: #e8e8e8;
$button-font-size: 16px;
$paragraph-text-size: 13px;
/* End */

iframe, object, embed {
    max-width: 100%;
}

/* Tools */
.uppercase { text-transform:$uppercase; }
.relative { position:relative; }
.bold { font-weight:bold; }
.text-center { text-align:center; margin:0 auto; }
.underline { border-bottom:1px solid; }

.light-grey-body {
		background:#ececec;
}

 .hv-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); 
  z-index:0; 
}

.h-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); 
	z-index:0; 
}


.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index:0; 
}

button.primary, input.button.primary, a.primary {
	background: $primary-color;
    border-radius: 30px;
    color: #fff;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    box-shadow:initial;
    &:hover {
    	background:darken( $primary-color, 30% );
    	cursor:pointer;
	    transition: 1s;
	    color:$white;
	    .next {
			left:10px;
	    }
    }
    .next {
    	padding-left: 15px;
    	margin-top: -3px;
	    width: 30px;
		height: 15px;
		position:relative;
		transition: left ease 0.5s;
		left:0;
    }

}

/* Page loading */
// .loader {
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: 1;
//     width: 100%;
//     height: 100%;
//     background: url(../img/logo.png) no-repeat white;
//     background-position: center;
// }

.no-js .page-loader {
	display: none !important;
}

.page-loader {
	width: 100%;
	height: 100vh;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: 10050;
	&.loaded {
		height: 0%;
		.loadinganim { 
			display: none;
		}
	}
	.loadinganim {
		width: 326px;
		height: 63px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
		height: 40px;
		background-position:center;
		
		.loadingsvg {
			width: 250px;
			height: 40px;
			//-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
		    //animation-delay: 1s;
			//-webkit-animation: loadingpulsate 1s ease-out;
		    //-webkit-animation-iteration-count: infinite; 
		}
	}
}

.white-bg {
	background:$white;
}

.single-border {
	height:3px;
	background:$primary-color;
	width:40%;
	margin:$global-margin*2 auto $global-margin*2;
}

.small-single-border {
	height:2px;
	background:$primary-color;
	width:65%;
	margin:$global-margin*3 auto $global-margin*3;
}

img.responsive-img {
	max-width: 100%; 
	height: auto;
	object-fit: contain;
	width:100%;
}

/* End tools */

//&:hover { transition: all 0.5s ease; }

body {
	background:$white;
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-family: 'Poppins', sans-serif;
}

p { 
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	letter-spacing:1px;
	&.sub-header {
		font-size:20px;
		margin-bottom:$global-margin*2;
	} 
}

h1, h2, h3, h4 {
	font-family: 'Poppins', sans-serif;
}

h1 { 
	color:$primary-color; 
	letter-spacing:$letter-spacing; 
	font-size:60px; 
	line-height:1.1; 
	font-weight:500;
}

h2 { 
	letter-spacing:$letter-spacing; 
	line-height:1.1;
	font-weight:500;
}

a, .find-out a {
	transition: all 500ms ease;
	text-decoration:initial;
	&:hover {
		-webkit-transition: border 500ms ease;
		-moz-transition: border 500ms ease;
		-ms-transition: border 500ms ease;
		-o-transition: border 500ms ease;
		transition: border 500ms ease; 
		border-bottom: 1px solid rgba(192, 192, 192, 1);
	}
}

.posi{
    position:fixed!important;
     margin-top: 0;
    top:0;
    left:0;
    right:0;
    background:$white;
    z-index:9999;
}

.white-bg.posi {
	height:60px;
}

.spanning {
	display:block;
	width:100%;
	height:100%;
	color:#8e8e8e;
	&:hover {
		border-bottom:0px solid transparent!important;
		color:#8e8e8e;
	}
}

.global-nav {
	.logo {
		float:left;
		width:175px;
	}
	.links-container {
		float:right;
		margin-bottom:$global-margin;
	}
	.links-container li a {
		color:#3c3c3b;
		text-transform:$uppercase;
		font-family: 'Poppins', sans-serif;
		font-size:$paragraph-text-size;
		border-bottom:1px solid transparent;
		padding-bottom:$global-padding!important;
		letter-spacing:$letter-spacing;
		&:hover {
			text-decoration:initial;
			border-bottom:1px solid #939393;
		}
	}
	.white-logo { display:block; width:164px; }
	.mobile-links { display:none; background:$white; position:relative; z-index:9999; }
}

.optiswiss, .deepcove { width: 250px; }

.home-nav {
	.logo {
		float:left;
	}
	.links-container {
		float:right;
	}
	.links-container li a {
		color:$white;
		text-transform:$uppercase;
		font-family: 'Poppins', sans-serif;
		font-size:$paragraph-text-size;
		letter-spacing:$letter-spacing;
		&:hover {
			text-decoration:initial;
		}
	}
	.white-logo { display:block; width:164px; }
	.coloured-logo { display:none; width:175px; }
	.mobile-links { display:none; background:$white; position:relative; z-index:9999; }
}

.mobile-menu{ display:none; float:right; }

.navigation { 
	padding:$global-padding 15px 5px;
	float:left;
	width:100%;
}

.find-out a { 
	color:#3c3c3b; 
}

.sub-heading {
	font-size:24px;
}

.overlaying-image { 
    background: url(../img/home-banner.jpg) no-repeat;
    background-size:cover;
    background-position: right top;
    height:80vh;
    max-height:760px;
    min-height:300px;
    margin-bottom:200px;

	h1, p { color:$white; }
	h1 { 
		font-size:60px; 
		text-transform:uppercase; 
		font-weight:500;
	}
	.main-content p {
		font-size:24px;
		letter-spacing:1px;
	}
	.custom-align {
		position: absolute;
		bottom: -15%;
		width: 100%;
		left: 0;
		right: 0;
	}
	.main-cta-container { display:block; }
}


.grey-box { 
	background:#f7f7f7; 
	height:220px; 
	transition: 0.3s;
	&:first-child { margin-left:-5px;}
	&:last-child { margin-right:-5px; }
	&:hover {
		background-color:rgba(216,216,216,1);
		cursor:pointer;
	}
	.find-out {
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		text-align:center;
		letter-spacing:1px;
		.next {
			transition: left ease 0.5s;
			position:relative;
			left:0;
		}
		&:hover {
			.next {
				left:5px;
			}
		}
		a {
			color:#3c3c3b;
			-webkit-font-smoothing: antialiased;
		}
	}
}

.mobile-cta-container { 
	display:none; 
	.column {
		margin:$global-margin*2 0 $global-margin*2;
		&:last-child {
			margin-top:0;
		}
		.grey-box {
			height:200px;
		}
	}
}

.find-out {
	font-weight:300;
	.next {
		padding-left:5px;
		margin-top:-3px;
		width:16px;
		&:hover {
    		transition: all 0.5s ease;
			padding-left:5px;
		}
	}
	a {
		color:#000; 
		border-bottom:1px solid transparent;
		&:hover {
		}
	}
	&:hover {
		border-color:#3c3c3b;
		.next {
    		transition: all 0.5s ease;
    		-moz-transform: translate(5px, 0px);
		    -ms-transform: translate(5px, 0px);
		    -o-transform: translate(5px, 0px);
		    -webkit-transform: translate(5px, 0px);
		    transform: translate(5px, 0px);
		}
	}
	.button.primary {
		background:$primary-color;
		color:$white;
	}
}

.enquire {
	text-align:center;
	padding:$global-padding*4 0 0;
	margin-bottom:0;
}

.home-body { 
	h2 { 
		font-family: 'Poppins', sans-serif; 
		color:#a6bcc5; 
		font-size:36px;
	}
	.panel {
		h4 {
			color:#292929;
			font-size:24px;
		}
		height:500px;
		box-shadow: 0px 0px 73px 0px rgba(22, 22, 22, 0.19);
	}
	.panel-container {
		padding:$global-padding*3 .9375rem $global-padding*7 .9375rem;
	}
	.panel-content {
		padding:0 $global-padding;
		color:#8e8e8e;
		p {
			margin-bottom:$global-padding*2;
		}
	}
	.panel-image-container {
		height:180px;
		position:relative;
	}

	.panel-image.specs { width:150px; }
	.panel-image.labs { width:100px; margin:0 auto; }
	.panel-image.messages { width:150px; }

}

.button-container { margin:$global-margin*5 0 65px;}

footer { 
	background:$white; 
	padding:$global-padding*2 0 0; 
	.footer-text {
		font-size:12px;
	}
}

footer {
	.footer-container {
		background:$footer-color;
		padding:$global-padding*5 0;
	}

	.footer-strip { 
		padding:$global-padding*3 0 25px; 
		color:#b3b3b3;
		letter-spacing:$letter-spacing;
	}

	.footer-strip a {
		color:#b3b3b3;
		letter-spacing:$letter-spacing;
	}

	.footer-links ul { margin-left:0; }

	.footer-links ul li { 
		list-style-type:none; 
		padding-bottom:10px; 
	}
	.footer-links ul li a { 
		color:#939393; 
		letter-spacing:$letter-spacing; 
	}
	.footer-text p {
		color:#666666;
		letter-spacing:$letter-spacing;
	}

	.footer-text a { color:#666666; }

	.footer-logo p {
		color:#939393;
		letter-spacing:$letter-spacing;
		padding-top:$global-padding*2;
	}

	.footer-logo { 
		position:absolute;
		bottom:0;
		right:0;
	}

}

* {
  margin: 0;
  padding: 0; 
}

.grey-container { background:$light-grey; height:600px;  }
.dark-grey-container { 
	background:#b3b5b7; 
	height:600px; 
	h1, p {
		color:$white;
		text-align:center;
	}
}

.grey-container.landing {
	height:300px;
}

.landing {
	margin-bottom:$global-margin*24; 
	position:relative;

	h1 { margin:$global-margin*5 0 $global-margin; }
	.grey-box { 
		height:165px;
		&:last-child {
			margin:0;
		}
		&:hover {
			background:#f7f7f7;
		}
		.find-out {
			position:initial;
			text-align:left;
		}
	}
	.very-small-border {
		background:$primary-color;
		height:2px; 
		width:30px;
		margin:$global-margin 0 $global-margin $global-margin*2;
	}
	.absolute-row {
		position:absolute;
		bottom:-105%;
		width:100%;
		left:0;
		right:0;
	}
	.main-container {
		.very-small-border {
			background:$primary-color;
			height:3px; 
			width:60px;
			margin:$global-margin*6 0 5px 0;
		}
	}

	.find-out 
		a { 
			color:#292929; 
			border-bottom:1px solid transparent; 
			&:hover {
				border-bottom:1px solid #292929;
				img {

				}
			}
		}	

	.text-container {
		a { color:#292929; }
		p, h4 {
			padding-left:$global-padding*2;
		}
		h4 {
			font-weight:500;
		}
	}
}

.info {
	.dark-grey-container  {
		background:$dark-grey;
		height:500px;
		background-position: top center;
	    background-size: cover;		
		h1 {
			color:$white;
			letter-spacing:$letter-spacing;
		}
	}
	.coatings {
		background:url('../img/optiswiss-coatings/hero-coatings.jpg');
		background-position: top center;
	    background-size: cover;
	}

	.extraservices {
		background:url('../img/deepcove-services/services-banner.jpg');
		background-position: top center;
	    background-size: cover;
	}

	.treatments {
		background:url('../img/deepcove-treatments/treatments-banner.jpg');
		background-position: top center;
	    background-size: cover;
	}

	.products {
		background:url('../img/optiswiss-products/hero-products.jpg');
		background-position: top center;
	    background-size: cover;
	    h1, p {
	    	color:#fff;
	    }
	}

	.optiswiss-lenses {
		background:url('../img/optiswiss-banner.jpg') no-repeat;
		background-position: top center;
	    background-size: cover;		
	}
}

.lenses {
	background:url('../img/deepcove-lenses/hero-lenses.jpg');
	background-position: top center;
    background-size: cover;		
}

.info-copy {
	color:#3c3c3b;
	.row {
		height: 500px;
    	margin-bottom: 100px;
	}
	.featured-image { 
		position: absolute;
		top: -15%;
		left:0;
		width: 440px;
    	height: 527px;
	}
	.block-one, .block-two, .block-three {
		h2 {
			margin:$global-margin*5 0 $global-margin*1;
		}
		div.body {
			margin-bottom:$global-margin*4;
		}
	}

	.block-three { 
		margin-top:$global-margin*8;
	}
	.find-out { 
		margin-bottom:$global-margin*6;
	}
	.grey-background {
		background:#d2d2d2;
		color:$white;
		.find-out a {
			color:$white;
			border-bottom:1px solid transparent;
			&:hover {
				border-bottom:1px solid $white;
		    	.next {
		    		transition: all 0.5s ease;
		    		-moz-transform: translate(5px, 0px);
				    -ms-transform: translate(5px, 0px);
				    -o-transform: translate(5px, 0px);
				    -webkit-transform: translate(5px, 0px);
				    transform: translate(5px, 0px)
		    	}
			}
		}
	}
	.white-background {
		.find-out a {
			border-bottom:1px solid transparent;
			&:hover {
			    border-bottom:1px solid #939393;
				.next {
		    		transition: all 0.5s ease;
		    		-moz-transform: translate(5px, 0px);
				    -ms-transform: translate(5px, 0px);
				    -o-transform: translate(5px, 0px);
				    -webkit-transform: translate(5px, 0px);
				    transform: translate(5px, 0px);
				}
			}
		}
	}
	.light-grey-background {
		background:#e8e8e8;
	}
	.half-background {
		background-color:$white;
		.sixty-percent {
			background:#e8e8e8;
			position: absolute;
		    height: 100%;
		    width: 60%;
		    right: 0;
		}
	}

	.half-background h2 { 
		margin-top:$global-margin*5;
	}
}

.text-body {
	.text-container { 
		padding:$global-padding*6 $global-padding*2 $global-padding*6; 
	}
}

.enquire-block {
	height:auto!important;
	margin-top:-$global-margin*7;
	margin-bottom:0px!important;
	.button.primary {
		color:$white;
		background:$primary-color;
		position:relative;
	}
}

.half-bg-container { 
    margin-top: 195px;
    height: 125px;
}

.iframe {
	padding-bottom:$global-padding*6;
	.main-container {
		height:400px;
		a, p.signup {
			color:$primary-color;
		}
		.main-content { 
			width:80%;
			.content {
				margin:50px 0 0;
			}
		}
		.signup {
			letter-spacing:$letter-spacing;
			font-weight:500;
		}
	}
	iframe { width:100%; height:650px; position:absolute; top:0; left:0; }

	.iframe-container {
		position:relative;
		height:650px;
	}
}

.text { 
	.small-container {
		height:200px;
		background-size:cover;
	}
	.light-grey-body {
		background:#ececec;
	}
	h1 {
		text-transform:$uppercase;
	}
}

.register {
	color:#4a4a4a;
	font-weight:300;
	.small-single-border {
		width: 60px;
		margin: 0 0 $global-margin;
		height: 3px;
	}
	.content-container {
		padding:$global-padding*8 0;
	}
	label { 
		letter-spacing:$letter-spacing; 
		color:#4a4a4a; 
	}
	input { 
		margin-top:0; 
		border:0px solid transparent;
		background-color:transparent;
		box-shadow:initial;
		border-bottom:1px solid #b3b5b7;
		border-radius:0;
	}
	select {
		border:0px solid transparent;
		border-radius:0;
		margin-top:$global-margin;
	}

	textarea { 
		border-radius:0;
		background-color:transparent;
		border:1px solid transparent;
		box-shadow:initial;
		padding-bottom:11px;
		border-bottom:1px solid #b3b5b7;
	}

	input[type="checkbox"]{
		background-color:transparent;
	}

	.checkbox-container {
		margin:$global-margin*2 0;
	}

	.tsandcs {
		color:#4a4a4a;
		margin:$global-margin*4 auto;
		#tsAndcs {
			margin-top:$global-margin;
		}
		#termslabel {
		    margin: 0 0 0 .5rem;
		}
		a {
			color:#4a4a4a;
		}
		.select-brand {
			letter-spacing:$letter-spacing;
		}
	}
	.light-grey-body {
		padding-bottom:$global-padding*4;
		margin-bottom:$global-margin*10;
	}
	.next {
		width: 13px;
		margin-left: -30px;
		margin-top: -18px;
	}
}

.brands {
	background-color:#e8e8e8;
	color:#3c3c3b;
	margin-bottom:$global-margin*14;
	.absolute-row {
		position:absolute;
		bottom:-30%;
		width:100%;
		left:0;
		right:0;
	}
	.main-container { 
		height:350px; 
		.main-content {
			margin:80px 0;
		}
	}
	.grey-box {
		.spanning {
			img { width:250px; }
		}
	}
	.find-out { 
		position:absolute; 
		bottom:10%; 
		left:0;
		right:0;
	}
	a {
		color:#3c3c3b;
		&:hover {
			border-bottom:1px solid #535353;
		}
	}
}

.contact {
	color:#3c3c3b;
	h1 {
		margin-bottom:$global-margin*2;
	}

	.main-content {
		margin:75px 0 0;
	}
	.bottom-row {
		margin-bottom:$global-margin*7;
	}
	.sub-heading {
		margin-bottom:$global-margin*2;
	}
	.icon-container {
		padding-top:$global-padding*3;
		> div {
			float:left;
			width:100%;
			margin-bottom:$global-margin;
		}
	    a {
	    	color:#3c3c3b;
	    	letter-spacing:$letter-spacing;
	    }
		.headphones {
		    background: url(../img/headphones.svg) no-repeat;
		    width: 45px;
		    height: 45px;
		    display: block;
		    float: left;
		    margin-right: 30px;
		}
		.email {
			background:url('../img/email.svg') no-repeat;
		    width: 45px;
		    height: 45px;
		    display: block;
		    float: left;
		    margin-right: 30px;
		}
		.telephone { 
			position:relative;
			top:10px;
		}
	}
	.text-container, .people-container { padding-top:$global-padding*3; }
	.text-container {
		letter-spacing:$letter-spacing;
	}

	.person {
		letter-spacing:$letter-spacing;
		margin-bottom:$global-margin*3;
		.name {
			color:$primary-color;
			margin-bottom:$global-margin;
		}
		.email { 
			margin-bottom:$global-margin;
		}
		a {
			color:#3c3c3b;
		}
		p { margin-bottom:0px; }
	}

}

.contact-form {
	background:$light-grey;
	padding:$global-padding*7 0;
	label { 
		letter-spacing:$letter-spacing; 
		color:#4a4a4a; 
	}
	input { 
		margin-top:0; 
		border:0px solid transparent;
		background-color:transparent;
		box-shadow:initial;
		border-bottom:1px solid #b3b5b7;
		border-radius:0;
	}
	select {
		border:0px solid transparent;
		border-radius:0;
		margin-top:$global-margin;
	}

	textarea { 
		border-radius:0;
		background-color:transparent;
		border:1px solid transparent;
		box-shadow:initial;
		padding-bottom:11px;
		border-bottom:1px solid #b3b5b7;
	}

	input[type="checkbox"]{
		background-color:transparent;
	}

	.button-container {
		position:relative;
		.primary{
			margin-bottom:$global-margin*4;
		}
		input:hover { color:$white; }
		.next {
		    position: absolute;
		    right: 19px;
		    top: 22px;
		    width:13px;
		}
	}
	.captcha-container {
		margin-top: 65px;
	}
}

.coloured-text {
	color:#3c3c3b!important;
	padding-bottom:25px!important;
}

.top-strip {
	background:$primary-color;
	color:$white;
	padding:10px 0 12px!important; 
	letter-spacing:$letter-spacing;
	margin:0 60px;
	a {
		color:$white;
		&:hover {
			border-bottom:1px solid $white;
		}
	}
}

.contact-us {
	padding:$global-padding*4 0;
	text-transform:uppercase;
	color:#4a4a4a;
}

.thank-you {
	padding:$global-padding*6 0px $global-padding*5;
	.column {
		padding:$global-padding*6 0;
	}
}

.container, footer {
	padding:0 60px;
}

.grey-container, 
.text .light-grey-body, 
.grey-background {
	margin-left:$global-margin*4;
	margin-right:$global-margin*4;
}

.labs, .contact-form, .complete-spectacles, .brands {
	margin-left:$global-margin*4;
	margin-right:$global-margin*4;	
}

.button.primary.back-button { 
    background-color: transparent;
    margin: 10px 0 0;
    position: relative;
    padding:0 0 5px;
    padding-left: 30px;
    margin-bottom: 10px;
    color: #0a0a0a;
    border-radius: 0;
  	&:hover {
  		border-bottom:1px solid #0a0a0a;
  		.back {
	  		left:-10px;
	  		transition: left ease 0.5s;
	  	}
  	}
}

.show-mobile { display:none; }

.back { 
	position:absolute;
	left:0px;
	width:14px;
  	transform: rotate(180deg);
}

.hidden-text { 
    background-color: #e8e8e8;
    padding: 90px 30px 75px;
    margin: 0 10px 0 10px;
    display:none;
}

.info {
	.greytext {
		h1, p {
			color:#3c3c3b;
		}
	}
}

/* Icon 1 */

.global-nav {
	 #nav-icon3 {
	  width: 40px;
	  height: 30px;
	  position: relative;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	  margin:0px 0px 15px 0px;
	  top:5px;
	  right:2px;
	}

	#nav-icon3 span {
	  display: block;
	  position: absolute;
	  height: 2px;
	  width: 80%;
	  background: #3c3c3b;
	  border-radius: 9px;
	  opacity: 1;
	  left: 10px;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	}

	/* Icon 3 */

	#nav-icon3 span:nth-child(1) {
	  top: 3px;
	}

	#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	  top: 11px;
	}

	#nav-icon3 span:nth-child(4) {
	  top: 20px;
	}

	#nav-icon3.open span:nth-child(1) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}

	#nav-icon3.open span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	#nav-icon3.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	#nav-icon3.open span:nth-child(4) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
}

.home-nav {
	 #nav-icon3 {
	  width: 40px;
	  height: 30px;
	  position: relative;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	  margin:0 0px 15px 0;
	  top:5px;
	  right:2px;
	}

	#nav-icon3 span {
	  display: block;
	  position: absolute;
	  height: 2px;
	  width: 80%;
	  background: #3c3c3b;
	  border-radius: 9px;
	  opacity: 1;
	  left: 10px;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	}

	/* Icon 3 */

	#nav-icon3 span:nth-child(1) {
	  top: 3px;
	}

	#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	  top: 11px;
	}

	#nav-icon3 span:nth-child(4) {
	  top: 20px;
	}

	#nav-icon3.open span:nth-child(1) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}

	#nav-icon3.open span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	#nav-icon3.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	#nav-icon3.open span:nth-child(4) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
}
.mobile-links-menu { display:none; }

.errordiv {
	color: #ff0000;
}


// ------------- cookie banner ----------//
.cookie-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #3c3c3b;
	z-index: 1100;
	color: #fff;
	font-size: 16px;
	box-sizing: border-box;
	padding: 21px 22px 21px 34px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #fff;
	.cookie-left {
		a {
			color: #fff;
		}
	}
	.cookie-right {
		.reject {
			text-decoration: underline;
			cursor: pointer;
			color: #fff;
		}
		.accept {
			background-color: #fff;
			display: inline-block;
		    min-height: 50px;
		    text-transform: uppercase;
		    font-size: 14px;
		    color: #000;
		    box-sizing: border-box;
		    padding: 18px;
		    line-height: 1em;
		    cursor: pointer;
		    margin-left: 15px;
		    text-align: center;
		}
	}
}

/************************** TABLET **************************/
@media only screen and (min-width: 768px) and (max-width: 1099px) {
	.cookie-banner {
		display: block;
		.cookie-left {
			width: 50%;
			float: left;
		}
		.cookie-right {
			width: 50%;
			float: right;
			text-align: right;
		}
	}
} //end media query

/************************** MOBILE **************************/
@media only screen and (max-width: 767px) {

	.cookie-banner {
		display: block;
		.cookie-left {
			width: 100%;
			float: left;
			padding-bottom: 18px;
		}
		.cookie-right {
			width: 100%;
			float: left;
			text-align: right;
		}
	}
} //end media query

