@media screen and (max-width: 39.9375em) {
	h1 { font-size:36px; }
	h2 { font-size:32px; }
	.home-nav, .global-nav {
		.white-logo { display:none!important; }
		.coloured-logo { display:block!important; }
		.logo {
			width:150px;
		}
	}
	.overlaying-image { 
	    height: 300px;
	    margin-bottom: 0;
	    background-position: 75% 60px;
	    margin: 0 10px;
	    .main-content {
	    	top:60%;
	    	p {
	    		font-size:16px;
	    	}
	    }
	    h1 {
	    	font-size:30px;
	    }
	    .sub-heading {
	    	font-size:16px;
	    }
		.main-cta-container { display:none; }
	}
	.mobile-cta-container { 
		display:block;
		padding:15px 0; 
		.column { 
			margin:$global-margin*1 0 $global-margin*2;
		}
		.column:last-child {
			margin-bottom:30px;
		}
		.grey-box {
			a {
				position:relative;
				z-index:9;
			}
		}
	}
	footer {
		.footer-logo { 
			position:relative; 
			padding-top:$global-padding*2; 
		} 

		.footer-container, .footer-strip {
			margin:0 10px;
		}
	}
	.links-container { display:none; }
	footer {

		.footer-logo { 
			position:relative; 
			padding-top:$global-padding*2; 
		} 
	}
	.mobile-menu { 
		display:block; 
	}
	.white-mobile { 
		background:$white; 
	    position:relative;
    	z-index:1;
	}
	.mobile-links-menu {
		position:relative;
		z-index:999;
	}
	.mobile-links {
		background:white;
		margin:0;
		li  { 
			list-style-type:none;
			border-bottom:1px solid $light-grey;
			padding:$global-padding*2-5 0 $global-padding*2-5 $global-padding*2;
			&:hover {
				border-color:transparent;
			}
			a { 
			    color: #3c3c3b;
			    text-transform: uppercase;
			    letter-spacing: $letter-spacing;
			    display: block;
			    &:hover {
			    	border:1px solid transparent;
			    }
			}
		}
		li:last-child { padding:$global-padding*2 0 $global-padding*2 $global-padding*2;}
		li:first-child { padding-top:15px; }
	}
	.container.white-mobile { padding-bottom:0; }

	.home-body .panel-container {
	    padding: 25px 0.9375rem 10px 0.9375rem;
	}
	.landing.grey-container {
		height:auto;
		margin-bottom:0;
		padding-bottom:$global-padding*2;
		.absolute-row {
			margin-top:$global-margin*3;
		    position: relative;
		    bottom: 0;
		    width: 100%;
		    left: 0;
		    right: 0;
		    .column {
		    	margin-bottom:$global-margin*2;
		    	&:last-child {
		    		margin-bottom:0;
		    	}
		    }
		}
	}
	.dark-grey-container {
		height:400px;
	}
	.info-copy {
		.featured-image {
		    position: relative;
		    top: 0;
		    left:0;
		    height:auto;
		    margin-top: $global-margin*2;
		}
		.block-one, .block-two, .block-three {
			h2 {
				margin:$global-margin*2 0 $global-margin;
			}
		}
		.half-background {
			.sixty-percent {
				width:100%;
			}
		}
		.block-three { margin-top: 0;}
	}
	.brands {
		margin-bottom:$global-margin;
		.absolute-row {
			display:none;
		}
		.main-container {
			height:250px;
		}
	
	}

	.brands .mobile-cta-container .column .grey-box a img.deepcove,
	.brands .mobile-cta-container .column .grey-box a img.optiswiss {
		width:250px;
	}

	.navigation {
		padding:10px 10px 5px;
		background:$white;
	}

	.global-nav #nav-icon3 span {
		left:0;
	}
	.home-nav #nav-icon3 span {
		left:0;
	}

	.mobile-menu {
	    margin-right: -10px;
	}

	.info {
		.dark-grey-container {
			height:300px;
		}
	}

	.white-mobile.posi { margin:0 10px; }

	.info-copy .row {
	    height: auto;
	    margin-bottom: initial;
	}

	.button-container {
	    margin: 50px 0 30px;
	}

	.grey-box:last-child { margin-left:initial; }

	.grey-container, 
	.text .light-grey-body, 
	.grey-background,
	.dark-grey-container, .brands {
		margin-left:initial;
		margin-right:initial;
	}

	.container, footer {
		padding:0;
	}

	.info-copy {
		.featured-image {
			width:auto;
		}
		.find-out {
			margin-bottom:$global-margin*2;
		}
		p.body {
			margin-bottom:20px!important;
		}
	}

	.labs, .contact-form {
		margin-left:initial;
		margin-right:initial;	
	}

	.top-strip {
		.show-mobile { display:block; height:5px; }
		margin:initial;
	}

	.iframe {
		iframe, .iframe-container {
			height:0;
		}
	}

}

@media only screen and (max-device-width: 740px) and (orientation: landscape) {
     .landing {
     	h1 {
     		margin-top:$global-margin*3;
     	}
     	.very-small-border  {
	     	margin:15px 0 15px 10px!important;
	     }
	     .text-container h4 {
	     	font-size:18px;
	     }
	     .text-container p {
	     	font-size:12px!important;
	     }
	     .text-container p, .text-container h4 {
	     	padding-left:10px;
	     }
	     .next {
	     	display:none;
	     }
	     .absolute-row {
	     	bottom:-144%;
	     }
     }
     .grey-container.landing {
     	height:175px;
     }

     .info-copy {
     	.featured-image {
     		width:auto;
     		height:auto;
     	}
     }

 	.home-body {
		.panel-content {
			left:0;
			right:0;
		}
	}

 }