
.home-slider{
    width:100%;
    height: 470px;
    z-index: 1;
    @media screen and (max-width: 39.9375em) {
        height: 300px;
    }

    .home-slide{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        height:470px;
        padding: 4rem 2rem;
        background-color: red;
        @media screen and (max-width: 39.9375em) {
            height: 300px;
        }  
        
        &-image{
            width: 100%;
            height: 100%;
            background-color: grey;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        &-text{
            display: block;
            width: 50%;
            color: white;
            z-index: 2;
            position: relative;

            h2{
                text-transform: uppercase;
            }
        }
    }

    .slick-dots{
        position: absolute;
        bottom:0;
        left:0;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 2rem;
        margin-left: 0;

        li{
            margin-left: 0.5rem;
            
            button{
                cursor: pointer;
                border-radius: 0;
                text-indent: -9999px;
                width: 1.25rem;
                height: 3px;
                background-color: white;
            }
            &.slick-active{
                button{
                    background-color: #a6bcc5;
                }
            }
        }
    }
}