@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.home-nav, .global-nav {
		.links-container { display:none; }
		.white-logo { display:none!important; }
		.coloured-logo { display:block!important; }
		.logo {
			width:175px;
		}
	}
	.global-nav {
		.mobile-menu { 
			margin-right:0;
		}
	}
	.posi {
		.global-nav {
			.mobile-menu {
				margin-right:0;
			}
			.logo {
				margin-left:0;
			}
		}
	}
	.overlaying-image {
	    height: 550px;
	    background-size: cover;
        background-position: 75% 60px;
        .custom-align {
        	background:red;
        }
	}
	footer {
		.footer-logo { 
			position:relative; 
			padding-top:$global-padding*2; 
		} 
	}
	.mobile-menu { 
		display:block; 
	}
	.white-mobile { 
		background:$white; 
	}
	.mobile-links {
		background:white;
		margin:0;
		li  { 
			list-style-type:none;
			border-bottom:1px solid $light-grey;
			padding:$global-padding*2 0 $global-padding*2 $global-padding*2;
			a { 
				color:#3c3c3b;
				text-transform:uppercase;
				letter-spacing:$letter-spacing;
			}
		}
		li:last-child { padding:$global-padding*2 0 $global-padding*2 $global-padding*2;}
	}
	.container.white-mobile { padding-bottom:0; }
	.info-copy {
		.container { 
			padding-bottom:10px;
		}
		.row {
			height:auto;
		}
		.find-out {
			margin-bottom:10px;
		}
		p.body {
			margin-bottom:20px!important;
		}
		.featured-image {
		    position: relative;
		    top: 0;
		    margin-top: $global-margin*2;
		    margin-bottom: $global-margin*2;
		}
		.block-one, .block-two, .block-three {
			h2 {
				margin:$global-margin*4 0 $global-margin;
			}
		}
		.block-three { margin-top: 0;}
		.half-background {
			background:#e8e8e8;
			padding-bottom:$global-padding*2; 
			.sixty-percent {
			    width: 100%;
			    padding-bottom:30px
			}
		}
		.row {
			margin-bottom:initial;
		}
		.grey-container, .light-grey-body, .grey-background {
			margin-left:initial;
			margin-right:initial;
		}
	}
	.overlaying-image { 
	    height: 600px;
	    margin-bottom: 0;
	    background-position: 75% 60px;
	    margin: 0 15px;
		.main-cta-container { display:none; }
	}
	.mobile-cta-container { display:block; }
	.mobile-cta-container .column:last-child { margin-top:30px; }

	.mobile-links-menu { position:relative; z-index:999; }

	.brands {
		margin-bottom:$global-margin;
		.absolute-row {
			display:none;
		}
	}

	.posi .logo {
		margin-left:$global-margin;
	}
	.mobile-menu {
	    margin-right: -10px;
	}

	.posi .mobile-menu {
		margin-right:5px;
	}

	.navigation {
		background:$white;
	}

	.container, footer {
		padding:0 auto;
	}

	h1 { 
		color:$primary-color; 
		letter-spacing:$letter-spacing; 
		font-size:48px; 
		line-height:1.1; 
		font-weight:500;
	}

	.about-deepcove h2 {
		padding-top:$global-padding*3;
	}

	footer .footer-logo {
		padding-right:$global-padding*3;
	}

	.custom-align {
	    position: absolute;
	    bottom: -15%;
	    width: 90%;
	    left: 0;
	    right: 0;
	}

	.grey-box {
		height:150px;
	}

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	.grey-box {
		height:150px;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	h1 {
  		font-size:42px;
  	}

  	.container.white-mobile {
  		padding:0;
  	}
  	.mobile-menu {
  		margin-right:0;
  	}

	.navigation {
		padding:15px 0 5px;
	}
	.container.white-mobile.posi {
		padding:0 70px 0 60px;
	}

	.info {
		.dark-grey-container {
			height:300px;
		}
	}

	.info-copy .featured-image {
	    width: auto;
	    height: auto;
	}

	.home-body .panel-container {
	    padding: 45px 0.9375rem 0px 0.9375rem;
	}

	.overlaying-image {
		height:400px;
		.main-content {
			top:60%;
		}
	}

	.main-content p {
		font-size:16px!important; 
	}

	.landing .absolute-row {
		bottom:-88%;
		.next {
			display:none;
		}
	}

	.light-grey-body .container, .text .light-grey-body { 
		padding-left:initial; padding-right:initial;
	}
	.dark-grey-container.lenses { background-position:center center!important;}
	.dark-grey-container.lenses { background-position:25% center!important;}

	.brands {
		.main-container {
			height:250px;
		}
	}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	h1 {
  		font-size:42px;
  	}

  	.container.white-mobile {
  		padding:0;
  	}

	.container.white-mobile.posi {
		padding:0 70px 0 60px;
	}

  	.home-nav .links-container, .global-nav .links-container {
	    display: none;
	}

	.mobile-menu {
	    display: block;
	}

	.home-nav #nav-icon3 span {
		background-color:$white;
	}

	.posi .home-nav #nav-icon3 span {
		background:#3c3c3b;
	}

	.footer-logo { padding-right:$global-padding; }

	.mobile-links li {
		list-style-type: none;
		border-bottom: 1px solid #e8e8e8;
		padding: 25px 0 25px 30px;
		background:$white;
		a {
			color: #3c3c3b;
			text-transform: uppercase;
			letter-spacing: 2px;
			display: block;
		}
	}

	.mobile-links-menu {
	    position: absolute;
	    z-index: 999;
	    left: -20px;
	    width: 102.5%;
	}

	.info-copy .featured-image {
	    width: 350px;
	    height: auto;
	}

	.container, footer { 
		padding:0 30px; 
	}

	.home-body .panel-container {
	    padding: 45px 0.9375rem 0px 0.9375rem;
	}

	.home-body .panel-container:last-child {
	    padding: 45px 0.9375rem 50px 0.9375rem;
	}

	.coloured-logo {
		width:170px;
	}

	.iframe {
		iframe, .iframe-container {
			height:0;
		}
	}

}

@media screen and (min-width:640px) and (max-width:976px) {
	.info-copy {
		.featured-image {
			height:auto;
			width:auto;
		}
	}
	.text .container {
		padding:0;
	}
	.text-body {
		.text-container {
			padding:$global-padding*6 0;
		}
	}
	.home-body {
		.panel-content {
			left:0;
			right:0;
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1130px) {
	.overlaying-image .custom-align {
		width:90%;
		.grey-box {
			height:160px;
			.hv-center {
				top:40%;
			}
		}
		// .grey-box { margin-left:initial; }
		// .grey-box:last-child { margin-right:initial; }
	}
}